@namespace TexturePig.Web.Components
@inherits AntDomComponentBase
@using AntDesign;
@using AntDesign.ProLayout
@using Tooltip = AntDesign.Tooltip;
@inject NavigationManager _navigationManager
@inject MessageService _message

<Space Class="@ClassMapper.Class">
    <SpaceItem style="margin-top:14px"> 
        <SearchBox></SearchBox>
    </SpaceItem>
    <SpaceItem>
        <ProjectTag></ProjectTag>
    </SpaceItem>
    <SpaceItem>
        <LoadingSpeed></LoadingSpeed>
    </SpaceItem>
    <SpaceItem>
        @if (_navigationManager.ToBaseRelativePath(_navigationManager.Uri) == "support"){

            <Button Shape="@ButtonShape.Round" @onclick="NavigateToSupportPage" Type="@ButtonType.Primary" Icon="@IconType.Outline.Question">Help</Button>
        }
        else{
            <Button Shape="@ButtonShape.Round" @onclick="NavigateToSupportPage" Icon="@IconType.Outline.Question">Help</Button>
        } 
        @code{
            private void NavigateToSupportPage() 
            {
                _navigationManager.NavigateTo("/support");
            }
        }
    </SpaceItem>
    <SpaceItem>
        @if (_navigationManager.ToBaseRelativePath(_navigationManager.Uri) == "new"){

            <Button Shape="@ButtonShape.Circle" @onclick="NavigateToNewPage" Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus"/>
        }
        else{
            <Button Shape="@ButtonShape.Circle" @onclick="NavigateToNewPage" Icon="@IconType.Outline.Plus"/>
        }
        @code{
            private void NavigateToNewPage() 
            { 
                if (TexturePig.Web.Services.UserService.LoggedIn)
                    _navigationManager.NavigateTo("/new");
                else
                {
                    _navigationManager.NavigateTo("/login");
                    _message.Error("Login to create items.");
                }
            }
        }
    </SpaceItem>

    @if (TexturePig.Web.Services.UserService.LoggedIn)
    {
        <SpaceItem>
            <span class="avatar-item">
                <Badge Count="12">
                    <AvatarDropdown Name="Example"   MenuItems="@AvatarMenuItems" Avatar="Test"/>
                </Badge>
            </span>
            <style>
                /* tile uploaded pictures */
                .avatar-item {
                    margin-left: 24px;
                }

                [class*='-col-rtl'] .avatar-item {
                    margin-right: 24px;
                    margin-left: 0;
                }
            </style>
        </SpaceItem>
    }
    else
    {
        <SpaceItem>
            <Button Type="@ButtonType.Primary" @onclick="NavigateToLoginPage">Login</Button> 
            @code{
            private void NavigateToLoginPage() 
            { 
                _navigationManager.NavigateTo($"https://texturepig.hub.loginradius.com/auth.aspx?action=register&return_url=https://texturepig.com");
            }
        }
        </SpaceItem>
    }

    @code
    {
     public AvatarMenuItem[] AvatarMenuItems { get; set; } = new AvatarMenuItem[]
        {
            new() { Key = "center", IconType = "user", Option = "Account"},
            new() { Key = "setting", IconType = "setting", Option = "Settings"},
            new() { IsDivider = true },
            new() { Key = "logout", IconType = "logout", Option = "Log out"}
        };
    }
</Space>
