@inject NavigationManager _navigationManager

<Card Hoverable Cover="Cover" TitleTemplate="@TitleTemp()">
        <CardMeta Description="@Description"></CardMeta>
        <Button Type="@ButtonType.Primary" OnClick="@ClickRedirect" style="margin-top: 10px;">Visit Pack</Button>
</Card>

@code
{
    private RenderFragment TitleTemp()
    {
        return 
    @<div>@Name <Tag PresetColor="@PresetColor.Volcano">@Resolution</Tag><Tag Icon="rocket" Color="#55acee">@Version</Tag>@if (Verified) {  <Icon Type="star" Theme="otone" TwoToneColor="#55acee"/> }</div>; 
    }

    private void ClickRedirect()
    {
        _navigationManager.NavigateTo("/pack/" + Name);
    }

    [Parameter]
    public bool Verified { get; set; } = false;
    
    [Parameter]
    public string Version { get; set; } = "1.8.9";

    [Parameter]
    public string Name { get; set; } = "Pack";

    [Parameter]
    public string Resolution { get; set; } = "16x";

    [Parameter]
    public string Description { get; set; } = "The official pack.";

    [Parameter]
    public RenderFragment Cover { get; set; } =
    @<img alt="banner"  src="https://imgur.com/K6cRgla.png"/>;
}