<div style="padding: 20px;">
    <Row Gutter="(16, 16)">
        <Col Span="8">
            <PackDisplay></PackDisplay>
        </Col>
        <Col Span="8">
            <PackDisplay Cover="renderFragment2" Verified Name="PigPvP" Description="The official PigPvP texturepack on texturepig."></PackDisplay>
        </Col>
        <Col Span="8">
            <PackDisplay></PackDisplay>
        </Col>
        <Col Span="8">
<PackDisplay Cover="renderFragment2" Name="PigPvP" Description="The official PigPvP texturepack on texturepig."></PackDisplay>
        </Col>
        <Col Span="8">
            <PackDisplay></PackDisplay>
        </Col>
        <Col Span="8">
<PackDisplay Cover="renderFragment2" Name="PigPvP" Description="The official PigPvP texturepack on texturepig."></PackDisplay>
        </Col>
    </Row>

    <Row Gutter="(16, 16)">
        <Col Span="8">
<PackDisplay Cover="renderFragment2" Name="PigPvP" Description="The official PigPvP texturepack on texturepig."></PackDisplay>
        </Col>
        <Col Span="8">
            <PackDisplay Name="Compliance 64x" Cover="@GetURLtoFragment("https://resourcepack.net/fl/images/2021/05/Compliance-64x-Resource-Pack-for-Minecraft-textures-5-315x180.jpg", "sadf")"></PackDisplay>
        </Col>
        <Col Span="8">
            <PackDisplay></PackDisplay>
        </Col>
    </Row>
</div>

@code
{
    private RenderFragment GetURLtoFragment(string url, string alt)
    {
        return @<img alt="@alt"  src="@url">; 
    }
    private static string urlstream = "https://imgur.com/8UlCNri.png";
    private static string urlstream2 = "https://imgur.com/riueGsw.png";
    private RenderFragment renderFragment = 
    @<img alt="banner"  src="@urlstream">;
    private RenderFragment renderFragment2 = @<img alt="banner"  src="@urlstream2">;
}